<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="str" type="java.lang.String" />
		<typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="theater" type="com.ticket.domain.TheaterVO" />
		<typeAlias alias="reply" type="com.ticket.domain.ReplyVO"/>
		<typeAlias alias="res" type="com.ticket.domain.ResVO"/>
		<typeAlias alias="mem" type="com.ticket.domain.MemberVO"/>
	</typeAliases>	
</configuration>