<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TheaterMapper">

	<update id="insertTheater">
		insert into theater 
		(ttr_no, com_id, ttr_cat, ttr_title,ttr_sdate, ttr_edate , ttr_place, ttr_time, ttr_alert, ttr_content)
		values
		(theater_seq.nextval, #{com_id}, #{ttr_cat}, #{ttr_title},#{ttr_sdate},#{ttr_edate}, #{ttr_place}, #{ttr_time}, #{ttr_alert}, #{ttr_content})
	</update>

	<select id="selectTheaterBytno" resultType="theater">
		select 
		ttr_no, com_id, ttr_cat, ttr_title,ttr_date, ttr_sdate,  ttr_edate, ttr_place, ttr_time, ttr_alert, ttr_content
		 from
		theater
		where ttr_no = #{ttr_no}
	</select>

	<update id="updateTheater">
		update theater set com_id =#{com_id}, ttr_cat =#{ttr_cat}, ttr_title =#{ttr_title}, ttr_sdate =#{ttr_sdate}, ttr_edate =#{ttr_edate}, ttr_place =#{ttr_place},
		 ttr_time =#{ttr_time}, ttr_alert =#{ttr_alert}, ttr_content =#{ttr_content}
		where ttr_no = #{ttr_no}
	</update>
	<update id="deleteTheater">
		delete from theater where ttr_no = #{ttr_no}
	</update>
	<select id="selectTheaterList" resultType="theater">
	 	<![CDATA[	
	 		select
		 	ttr_no, com_id, ttr_cat, ttr_title, ttr_date, ttr_sdate,  ttr_edate, ttr_place, ttr_time, ttr_alert, ttr_content
			from theater 
			where ttr_no > 0 
		 	order by ttr_no desc, ttr_date desc
	 	]]>
	</select>
	
	<update id="insertAttach">
		insert into file_tbl(file_id,file_name,ttr_no,file_kind)
		values(file_seq.nextval,#{fullName},#{ttr_no},#{file_kind})
	</update>
	<select id="selectMaxtno" resultType="int">
		select max(ttr_no) from theater
	</select>
	<select id="selectAttachAll" resultType="str">
		select file_name
		from file_tbl
		where ttr_no=#{ttr_no}
		order by file_kind
	</select>
	<select id="selectAttachThum" resultType="str">
		select file_name
		from file_tbl
		where ttr_no=#{ttr_no} and file_kind=1		
	</select>
	<select id="selectAttachSeat" resultType="str">
		select file_name 
		from file_tbl
		where ttr_no=#{ttr_no} and file_kind=2		
	</select>
	<select id="selectAttachFile" resultType="str">
		select file_name 
		from file_tbl
		where ttr_no=#{ttr_no} and file_kind=3		
	</select>
	<update id="deleteAttach">
		delete from file_tbl
		where ttr_no=#{ttr_no}
	</update>
	<select id="selectReplyList" resultType="reply">
		select * 
		from theater_reply
		where ttr_no=#{ttr_no}
		order by tr_rno desc
	</select>
	
	<update id="insertReply">
		insert into theater_reply(tr_rno,tr_content,ttr_no,mem_id,tr_date,ttr_score)
		values(reply_seq.nextval,#{tr_content},#{ttr_no},#{mem_id},sysdate,#{ttr_score})
	</update>
	
	<update id="updateReply" parameterType="reply">
		update theater_reply set tr_content=#{tr_content},
		tr_date=sysdate
		where tr_rno=#{tr_rno}
	</update>
	
	<update id="deleteReply" parameterType="int">
		delete from theater_reply where tr_rno=#{tr_rno}
	</update>
	
	<select id="selectReplyListPage" resultType="reply">
		select *
		from theater_reply
		where ttr_no=#{ttr_no}
		order by tr_rno desc		
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and com_id like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and ttr_title like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				and ttr_cat like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( ttr_content like '%'||#{keyword}||'%' OR com_id
				like
				'%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<select id="selectSearchtheaterList" resultType="theater">
	<![CDATA[ 
		select *
		from theater
		where ttr_no > 0		
	]]>
		<include refid="search"></include>
		order by ttr_no desc
	</select>
	<select id="selectSearchtheaterCount" resultType="int">
		<![CDATA[  
		  select count(ttr_no) 
		  from theater 
		  where ttr_no > 0 
		]]>
		<include refid="search"></include>
	</select>
	<update id="insertseat">
		insert into seat(seat_id,ttr_no,seat_grd,seat_no,seat_pri,seat_date,seat_time)
		values(seat_seq.nextval,#{ttr_no},#{seat_grd},#{seat_no},#{seat_pri},#{seat_date},#{seat_time})
	</update>
	
	<update id="updateseatbyseat_id">
		update seat set seat_grd=#{seat_grd},seat_no=#{seat_no},seat_pri=#{seat_pri},seat_date=#{seat_date},seat_time=#{seat_time}
		where seat_id=#{seat_id}
	</update>
	
	<update id="updateseatbyttr_no">
		update seat set seat_grd=#{seat_grd},seat_no=#{seat_no},seat_pri=#{seat_pri},seat_date=#{seat_date},seat_time=#{seat_time}
		where ttr_no=#{ttr_no}
	</update>
	
	<update id="deleteseatbyseat_id">
		delete seat where seat_id=#{seat_id}
	</update>
	
	<update id="deleteseatbyttr_no">
		delete seat where ttr_no=#{ttr_no}
	</update>
	
	
</mapper>
